.profile__edit-button {
  display: block;
  align-self: center;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background-image: url("../../../images/profile__edit-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 10px;
}

@media screen and (min-width: 920px) {
  .profile__edit-button {
    margin-left: 18px;
  }
}
