.content {
  max-width: 282px;
  margin: 0 auto;
  padding-top: 36px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

@media screen and (min-width: 920px) {
  .content {
    max-width: 880px;
    padding-top: 46.25px;
    grid-template-columns: repeat(3, 1fr);
  }
}
