.list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 282px;
  margin: 0 auto;
  padding-top: 36px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
}

@media screen and (min-width: 620px) {
  .list {
    max-width: 582px;
    padding-top: 51px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 17px;
  }
}

@media screen and (min-width: 920px) {
  .list {
    max-width: 880px;
    grid-template-columns: repeat(3, 1fr);
  }
}
