.popup__title {
  margin: 0 auto -47px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  text-align: center;
  z-index: 1;
}

@media screen and (min-width: 920px) {
  .popup__title {
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 -63px calc(50% - 179px);
    align-self: flex-start;
  }
}
